// _first :: Test

@import "true";
@import "./scss/sass-maphacks/functions/first";

@include test-module("_first") {

  @include test("should return the first item of a map") {
    $map: (
      a: first,
      b: second
    );

    $test: _first($map);
    $expect: first;

    @include assert-equal($test, $expect, "first");
  }
}
