// _indexOf

@function _indexOf($map: false, $key: false) {
  @if type-of($map) != "map" {
    @error "_indexOf: The argument must be a map.";
  }
  @if $key == false {
    @error "_indexOf: The second argument must be defined.";
  }
  // Starting index
  $index: 1;
  // Get all the keys in the map
  $keys: map-keys($map);
  // Loop through the keys
  @each $k in $keys {
    // Return the index of the matching key
    @if $k == $key {
      @return $index;
    }
    @else {
      // Increment the index
      $index: $index + 1;
      @if $index == length($map) {
        @return false;
      }
    }
  }
};
